.card {
  background: radial-gradient(
    160.51% 123.88% at -5.25% 0%,
    #d410cc 0%,
    #1d0e34 100%
  );
  -webkit-mask: radial-gradient(44px, #0000 97%, #000) 359px -379px/713px 480px;
}

/* .card:before {
  -webkit-mask: radial-gradient(20px, #0000 98%, #000) 300% 300% /
    calc(100% / 1.2) calc(100% / 1.2);
} */
/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */

.card-dark {
  background-color: #fff;
  -webkit-mask: radial-gradient(44px, #0000 97%, #000) 359px -379px/713px 480px;
}

@media (max-width: 768px) {
  .card {
    background: radial-gradient(
      160.51% 123.88% at -5.25% 0%,
      #d410cc 0%,
      #1d0e34 100%
    );
    -webkit-mask: none;
  }
  .card-dark {
    background-color: #fff;
    -webkit-mask: none;
  }
}
