.slick-center {
  transform: translateY(50px);
  transition: all 0.4s;
}

.slick-slider .slick-slide {
  padding: 0 15px;
  margin: 0 0 50px 0;
}
.slick-prev,
.slick-next {
  transform: scale(3);
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

@media (min-width: 768px) {
  .card-slide {
    box-shadow: 0px 1.227418303489685px 26.389493942260742px 0px
      rgba(158, 0, 145, 0.2);
    -webkit-mask: radial-gradient(35px, #0000 97%, #000) 210px -113%/421px 86.3%;
  }
}
