/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"); */
/* @import url(//db.onlinewebfonts.com/c/7b03fdb6d9bfa7c997bc732b5e8918e2?family=Forgotten+Futurist); */
@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;

@font-face {
  font-family: "monument-extended";
  font-weight: 400;
  src: url("./asset/fonts/MonumentExtended-Regular.otf") format("opentype");
}
@font-face {
  font-family: "monument-extended";
  font-weight: 800;
  src: url("./asset/fonts/MonumentExtended-Ultrabold.otf") format("woff");
}
@font-face {
  font-family: "Forgotten Futurist";
  font-weight: 400;
  src: url("./asset/fonts/Forgotten-Futurist.woff");
}

@tailwind utilities;

:root {
  @apply overflow-x-hidden bg-primary text-primary;
}

.dark {
  --color-bg-primary: #161f37;

  --color-bg-footer: #0a1226;

  --color-bg-secondary: #283141;
  --color-text-primary: #ffffff;
  --color-text-secondary: #2c2c2c;
  --color-text-accent: #ffff;
  --color-bg-input: #4a5361;
  --color-bg-button: radial-gradient(
    160.51% 123.88% at -5.25% 0%,
    #d410cc 0%,
    #1d0e34 100%
  );
  --color-bg-card: #2c2c2c;
  --color-bg-title: #ebedf6;
  --color-bg-shape: #ffffff80;

  --color-bg-finish: #212a42;
}

.light {
  --color-bg-primary: #f6f7f8;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #9e0091;
  --color-bg-footer: #ebedf6;

  --color-bg-input: #edf2f7;
  --color-bg-button: #2b6cb0;
  --color-bg-card: #ffff;
  --color-bg-title: #5b2973;
  --color-bg-shape: #9e009180;
  --color-bg-finish: #ebedf6;
}
